$color: #66CDAA;

body {
  background: $color;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr; /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased; /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility; /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale; /* Support for IE. */
  font-feature-settings: 'liga';
}

div.todo {
  width: 300px;
  margin: auto auto 10px;
  padding: 5px;
  background: #FFE4B5;
  border: 4px double #00FFFF;
}

span {
  padding: 41px;
}

header {
  color: #F0E68C;
}
