$color: #66CDAA;

body {
  background: $color;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

div.todo {
  width: 500px;
  margin: 0 auto 5px;
  padding: 5px;
  background: #FFE4B5;
  border: 4px double #00FFFF;
  border-radius: 5px 5px 5px 5px;
}

div.todo.completed {
  background: #E0FFFF;
}

div.centr {
  width: 10%;
  display: inline-block;
  text-align: left;
}

div.centr1 {
  width: 80%;
  display: inline-block;
  text-align: center;
}

div.centr2 {
  width: 10%;
  display: inline-block;
  text-align: right;
}

span {
  padding: 41px;
}

header {
  color: #F0E68C;
}
